{% extends "base.html" %} {% block body %}



<body>

    <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="py-5 py-lg-0">
            <h1 class="text-white display-4 font-weight-bold">Welcome to Geeks UI Learning Application
            </h1>
            <p class="text-white-50 mb-4 lead">

            </p>
            <a href="basic_python_a" class="btn btn-success">Basics Qusetion / Answer Download</a>

        </div>
    </div>
    <br><br>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="project_1" role="button" aria-controls="offcanvasExample">
        project_1
      </a>
    <br><br>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="project_2" role="button" aria-controls="offcanvasExample">
        project_2
      </a>
    <br><br>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="project_3" role="button" aria-controls="offcanvasExample">
        project_3
      </a>
    <br>
    <br>
    <hr>
    <a href="/logout">
        <img src="/static/logout.jpg"></a>

</body>
{% endblock %}