{% extends "base.html" %} {% block body %}





<html>

<head>
    <title>
        Loops Question
    </title>
</head>

<body>
    <br>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href='python_answer'>Click here!! to Download Basic  Answer </a>
    </div>
    <div class='container-fluid'>
        <h1>Basic Loops Question</h1>
        <a href="/static/question/loops_question.pdf" download>
            <img src="/static/pdf.png"> <br> Download Question
        </a>
    </div>
    <div class='container my-4'>
        <br>
        <hr>1) Write a program to print first 10 natural number.using for and while loop<br>

        <br>
        <hr>2) WAP to print number upto 20 at the step of 4<br>

        <br>
        <hr>3) WAP to print table of 5 using step in loop<br>

        <br>
        <hr>4) WAP to print reverse number 20 to 10<br>

        <br>
        <hr>5) WAP to print table of number given by user and format of, 5*1=5<br> note:- Without using step<br>

        <br>
        <hr>6) WAP to print table of 5 to 13 and format of, 5*1=5<br> note:- Without using step<br>

        <br>
        <hr>7)Reverse the given number like 123-->321<br>

        <br>
        <hr>8) Add the given number like 123 ---> 1+2+3=6<br>

        <br>
        <hr>9) Print a pattern using loops<br> @@@@@
        <br> @@@@@

        <br> @@@@@

        <br> @@@@@

        <br> @@@@@

        <br>


        <br>
        <hr>10) print a pattern usnig loops<br> 1 1 1 1 1<br> 2 2 2 2 2<br> 3 3 3 3 3<br> 4 4 4 4 4<br> 5 5 5 5 5<br>

        <br>
        <hr>11) Print pattern like this<br> 1 2 3 4 5<br> 1 2 3 4 5<br> 1 2 3 4 5<br> 1 2 3 4 5<br> 1 2 3 4 5<br>

        <br>
        <hr>12) Print a pattern like this<br> 1 1 1 1 1<br> 2 2 2 2<br> 3 3 3<br> 4 4<br> 5

        <br>

        <br>
        <hr>17) Print pattern like Pyramid of dollor sign $<br>

        <br>
        <hr>18) Write a program to print first 10 even number<br>


        <br>
        <hr>19) Write a program to find the factorial of a number.<br>


        <br>
        <hr>20) Write a program to check whether a number is prime or not.<br>

        <br>
        <hr>21) Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.<br>

        <br>
        <hr>22) Write a program to print numbers from 1 to 20 except multiple of 2 & 3<br>

        <br>
        <hr>23) Accept a number and check whether it is palindrome or not.<br>

        <br>
        <hr>24) Fibonacci sequence:<br> 0 1 1 2 3 5 8 13 21 34<br>

        <br>
        <hr>25) Write a Python program to check the validity of password input by users. Go to the editor<br> Validation :<br> At least 1 letter between [a-z] and 1 letter between [A-Z].<br> At least 1 number between [0-9].<br> At least 1 character from [$#@].<br>        Minimum length 6 characters.<br> Maximum length 16 characters.<br>
    </div>
    <br>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href='python_answer'>Click here!! to Download Basic  Answer </a>
    </div>
</body>

</html>

{% endblock %}