{% extends "base.html" %} {% block body %}





<html>

<head>
    <title>
        String Question
    </title>
</head>

<body>
    <div class='container-fluid'>
        <h1>Basic String Question</h1>
        <a href="/static/question/String_questions.pdf" download>
            <img src="/static/pdf.png"> <br> Download Question
        </a>

    </div>
    <div class='container my-4'>
        <hr><br>1) Add (hello) in the middle of given string,if the value is odd then add one number<br> Like Arun-----ArHelloun ,shivam------shiHellovam<br>

        <hr><br>2) Write a program to count each character of given string like:<br> aabbbbbccc
        <br> a 2 b 5 c 3<br> aabbbbbzccc

        <br> a 2 b 5 z 1 c 3<br>

        <hr><br>3) WAP to print reverse by character , word and character of word<br> a="How are you Shiva"<br> s1='Shiva you are how'<br> s2=' woH era uoy avihS'<br> s3='avihS uoy era woH'<br>

        <hr><br>4) WAP to take a Phone of user and check condition of number if number is start 9 or 8 and lenght is 10 then print number is correct otherwise print number is incorrect<br>


        <hr><br>5) WAP to take a string and count any one character in string<br> 'ShivamSS' --->s=3<br>

        <hr><br>6) WAP to to take a string and count the vowel and constant value<br>

        <hr><br>7) Remove all duplicate<br> aabbbbbccc------> abc<br>

        <hr><br>7) WAP to take a string<br> sa2shv3shivam2'
        <br> saashvvvshivamm
        <br> a2b3dc4

        <br> aabbbdcccc
        <br>

        <hr><br>8) Count upper case and lower case in string<br>

        <hr><br>9) WAP to change the character ''a'' to ''i''<br>

        <hr><br>10) WAP to take string from user and print only alphanumeric string<br> 'Shivam14 asd food boe434'<br> Shivam14 boe434<br>

        <hr><br>11) WAP to find the uncommon string<br> a='abcd'

        <br> b='abc'
        <br> d

        <br>


        <hr><br>12) Count upper case , lower and special character case in string<br>

        <hr><br>13) WAP to reverse the string<br>
        <hr><br>14) WAP to upper the 0 and -1 index of word of given string<br> a='Shiva is boy'<br> 'ShivA IS BoY '<br>


        <hr><br>15) Program to find maximum and minimum occurring character in a string<br> a='aabbbbbbbbcccccccccccccccccccccccccccccccc'

        <br> c 32<br>



    </div>
</body>

</html>

{% endblock %}