{% extends "base.html" %} {% block body %}





<html>

<head>
    <title>
        Answer
    </title>
</head>

<body>
    <div class='container-fluid'>
        <br>
        <br>
        <hr>

        <a href="/static/
        answer/if_else.pdf" download>
        
            Click here!! Basic If_else Answer download
        </a>
        <br>
        <br>
        <a href="/static/answer/Basic_String_Question_Answer.pdf" download>
                Click here!! Basic_String_Question_Answer download
        </a>
        <br>
        <br>
        <a href="/static/answer/Basic_Loops_Question_Answer.pdf" download>
                Click here!! Basic_Loops_Question_Answer download
        </a>
        <br>
        <br>
        <a href="/static/answer/Basic_Dictionary_Question_Answer.pdf" download>
            Click here!! Basic_Dictionary_Question_Answer download
    </a>
        <br>
        <br>
        <a href="/static/answer/Basic_List_Question_Answer.pdf" download>
            Click here!! Basic_List_Question_Answer download
    </a>
    </div>

    <br>
    <br>
    <hr>
    <a href="/logout">
        <img src="/static/logout.jpg"></a>
</body>

</html>

{% endblock %}